uwsgi:
{{ galaxy_uwsgi | to_nice_yaml(indent=2) | indent(2, first=True) }}

{% if galaxy.interactivetools_enable %}
  # https://docs.galaxyproject.org/en/master/admin/special_topics/interactivetools.html
  http-raw-body: true
  interactivetools_map: database/interactivetools_map.sqlite
  python-raw: scripts/interactivetools/key_type_token_mapping.py
  route-host: ^([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)-([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)\.([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)\.(interactivetool\.localhost:8080)$ goto:interactivetool
  route-run: goto:endendend
  route-label: interactivetool
  route-host: ^([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)-([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)\.([A-Za-z0-9]+(?:-[A-Za-z0-9]+)*)\.(interactivetool\.localhost:8080)$ rpcvar:TARGET_HOST rtt_key_type_token_mapper_cached $1 $3 $2 $4 $0 5
  route-if-not: empty:${TARGET_HOST} httpdumb:${TARGET_HOST}
  route: .* break:404 Not Found
  route-label: endendend
{% endif %}


galaxy:
{{ galaxy | to_nice_yaml(indent=2) | indent(2, first=True) }}
